{%- for python_librairy in python_libraries -%}
{{ python_librairy }}
{% endfor %}

# Mandatory library used in all odoo-openupgrade-wizard
openupgradelib

# # Library used to run 'post-migration.py' scripts
# click-odoo

# Library used to run generate-module-analysis command
# dependencies of the module OCA/server-tools 'upgrade_analysis'
odoorpc
mako
